# DataCamp
* DataCampのKaggle titanicデータの分析チュートリアル
* 本サイトは[こちら](https://campus.datacamp.com/courses/kaggle-python-tutorial-on-machine-learning/getting-started-with-python?ex=1)
* サイト内でコードを直接書くことも可能。

In [1]:
import pandas as pd

train = pd.read_csv("./input/train.csv")
test = pd.read_csv("./input/test.csv")

In [2]:
train.shape

(891, 12)

In [3]:
test.shape

(418, 11)

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
# Passengers that survived vs passengers that passed away
print(train["Survived"].value_counts())

# As proportions
print(train["Survived"].value_counts(normalize=True))

# Males that survived vs males that passed away
print(train["Survived"][train["Sex"]=="male"].value_counts())

# Females that survived vs Females that passed away
print(train["Survived"][train["Sex"]=="female"].value_counts())

# Normalized male survival
print(train["Survived"][train["Sex"]=="male"].value_counts(normalize=True))

# Normalized female survival
print(train["Survived"][train["Sex"]=="female"].value_counts(normalize=True))

0    549
1    342
Name: Survived, dtype: int64
0    0.616162
1    0.383838
Name: Survived, dtype: float64
0    468
1    109
Name: Survived, dtype: int64
1    233
0     81
Name: Survived, dtype: int64
0    0.811092
1    0.188908
Name: Survived, dtype: float64
1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [6]:
# Create the column Child and assign to 'NaN'
train["Child"] = float('NaN')

# Assign 1 to passengers under 18, 0 to those 18 or older. Print the new column.
train.loc[train.Age<18,"Child"] = int(1)
train.loc[train.Age>=18,"Child"] = int(0)
print(train["Child"])


# Print normalized Survival Rates for passengers under 18
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

# Print normalized Survival Rates for passengers 18 or older
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      NaN
6      0.0
7      1.0
8      0.0
9      1.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     0.0
16     1.0
17     NaN
18     0.0
19     NaN
20     0.0
21     0.0
22     1.0
23     0.0
24     1.0
25     0.0
26     NaN
27     0.0
28     NaN
29     NaN
      ...
861    0.0
862    0.0
863    NaN
864    0.0
865    0.0
866    0.0
867    0.0
868    NaN
869    1.0
870    0.0
871    0.0
872    0.0
873    0.0
874    0.0
875    1.0
876    0.0
877    0.0
878    NaN
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    NaN
889    0.0
890    0.0
Name: Child, Length: 891, dtype: float64
1    0.539823
0    0.460177
Name: Survived, dtype: float64
0    0.618968
1    0.381032
Name: Survived, dtype: float64

In [7]:
train[["Child","Age"]]

     Child   Age
0      0.0  22.0
1      0.0  38.0
2      0.0  26.0
3      0.0  35.0
4      0.0  35.0
5      NaN   NaN
6      0.0  54.0
7      1.0   2.0
8      0.0  27.0
9      1.0  14.0
10     1.0   4.0
11     0.0  58.0
12     0.0  20.0
13     0.0  39.0
14     1.0  14.0
15     0.0  55.0
16     1.0   2.0
17     NaN   NaN
18     0.0  31.0
19     NaN   NaN
20     0.0  35.0
21     0.0  34.0
22     1.0  15.0
23     0.0  28.0
24     1.0   8.0
25     0.0  38.0
26     NaN   NaN
27     0.0  19.0
28     NaN   NaN
29     NaN   NaN
..     ...   ...
861    0.0  21.0
862    0.0  48.0
863    NaN   NaN
864    0.0  24.0
865    0.0  42.0
866    0.0  27.0
867    0.0  31.0
868    NaN   NaN
869    1.0   4.0
870    0.0  26.0
871    0.0  47.0
872    0.0  33.0
873    0.0  47.0
874    0.0  28.0
875    1.0  15.0
876    0.0  20.0
877    0.0  19.0
878    NaN   NaN
879    0.0  56.0
880    0.0  25.0
881    0.0  33.0
882    0.0  22.0
883    0.0  28.0
884    0.0  25.0
885    0.0  39.0
886    0.0  27.0
887    0.0  19.0
888    NaN   NaN
889    0.0  26.0
890    0.0  32.0

[891 rows x 2 columns]

In [8]:
# Create a copy of test: test_one
test_one =test.copy()

# Initialize a Survived column to 0
test_one["Survived"] = 0

# Set Survived to 1 if Sex equals "female" and print the `Survived` column from `test_one`
test_one.loc[test_one.Sex=="female","Survived"] = 1

print(test_one.Survived)

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      1
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

# ここまでの振り返り
* .locの使い方に少しなれた。

In [9]:
# Import the Numpy library
import numpy as np

# Import 'tree' from scikit-learn library
from sklearn import tree

* 続きは[こちら](https://campus.datacamp.com/courses/kaggle-python-tutorial-on-machine-learning/predicting-with-decision-trees?ex=2)

In [10]:
# Convert the male and female groups to integer form
train.loc[train["Sex"] == "male","Sex"] = 0
train.loc[train["Sex"] == "female","Sex"] = 1

# Impute the Embarked variable
train["Embarked"] = train.Embarked.fillna("S")

# Convert the Embarked classes to integer form
train.loc[train["Embarked"] == "S","Embarked"] = 0
train.loc[train["Embarked"] == "C","Embarked"] = 1
train.loc[train["Embarked"] == "Q","Embarked"] = 2

#Print the Sex and Embarked columns
print(train.Sex)
print(train.Embarked)

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: object
0      0
1      1
2      0
3      0
4      0
5      2
6      0
7      0
8      0
9      1
10     0
11     0
12     0
13     0
14     0
15     0
16     2
17     0
18     0
19     1
20     0
21     0
22     2
23     0
24     0
25     0
26     1
27     0
28     2
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    1
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    0
881    0
882    0
883    0
884    0
885    2
886    0
887    0
888    0
889    1
890    2
Name: Embarked, Length: 891, dtype: object

In [11]:
# Print the train data to see the available features
print(train)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
5                                     Moran, Mr. James   0   NaN      0
6                              McCarthy, Mr. Timothy J   0  54.0      0
7                       Palsson, Master. Gosta Leonard   0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)   1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut   1   4.0      1
11                            Bonnell, Miss. Elizabeth   1  58.0      0
12                      Saundercock, Mr. William Henry   0  20.0      0
13                         Andersson, Mr. Anders Johan   0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina   1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)    1  55.0      0
16                                Rice, Master. Eugene   0   2.0      4
17                        Williams, Mr. Charles Eugene   0   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   1  31.0      1
19                             Masselmani, Mrs. Fatima   1   NaN      0
20                                Fynney, Mr. Joseph J   0  35.0      0
21                               Beesley, Mr. Lawrence   0  34.0      0
22                         McGowan, Miss. Anna "Annie"   1  15.0      0
23                        Sloper, Mr. William Thompson   0  28.0      0
24                       Palsson, Miss. Torborg Danira   1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   1  38.0      1
26                             Emir, Mr. Farred Chehab   0   NaN      0
27                      Fortune, Mr. Charles Alexander   0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"   1   NaN      0
29                                 Todoroff, Mr. Lalio   0   NaN      0
..                                                 ...  ..   ...    ...
861                        Giles, Mr. Frederick Edward   0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"   1   NaN      8
864                             Gill, Mr. John William   0  24.0      0
865                           Bystrom, Mrs. (Karolina)   1  42.0      0
866                       Duran y More, Miss. Asuncion   1  27.0      1
867               Roebling, Mr. Washington Augustus II   0  31.0      0
868                        van Melkebeke, Mr. Philemon   0   NaN      0
869                    Johnson, Master. Harold Theodor   0   4.0      1
870                                  Balkic, Mr. Cerin   0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1  47.0      1
872                           Carlsson, Mr. Frans Olof   0  33.0      0
873                        Vander Cruyssen, Mr. Victor   0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)   1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"   1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian   0  20.0      0
877                               Petroff, Mr. Nedelio   0  19.0      0
878                                 Laleff, Mr. Kristo   0   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)   1  25.0      0
881                                 Markun, Mr. Johann   0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika   1  22.0      0
883                      Banfield, Mr. Frederick James   0  28.0      0
884                             Sutehall, Mr. Henry Jr   0  25.0      0
885               Rice, Mrs. William (Margaret Norton)   1  39.0      0
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   NaN      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket      Fare        Cabin Embarked  Child
0        0         A/5 21171    7.2500          NaN        0    0.0
1        0          PC 17599   71.2833          C85        1    0.0
2        0  STON/O2. 3101282    7.9250          NaN        0    0.0
3        0            113803   53.1000         C123        0    0.0
4        0            373450    8.0500          NaN        0    0.0
5        0            330877    8.4583          NaN        2    NaN
6        0             17463   51.8625          E46        0    0.0
7        1            349909   21.0750          NaN        0    1.0
8        2            347742   11.1333          NaN        0    0.0
9        0            237736   30.0708          NaN        1    1.0
10       1           PP 9549   16.7000           G6        0    1.0
11       0            113783   26.5500         C103        0    0.0
12       0         A/5. 2151    8.0500          NaN        0    0.0
13       5            347082   31.2750          NaN        0    0.0
14       0            350406    7.8542          NaN        0    1.0
15       0            248706   16.0000          NaN        0    0.0
16       1            382652   29.1250          NaN        2    1.0
17       0            244373   13.0000          NaN        0    NaN
18       0            345763   18.0000          NaN        0    0.0
19       0              2649    7.2250          NaN        1    NaN
20       0            239865   26.0000          NaN        0    0.0
21       0            248698   13.0000          D56        0    0.0
22       0            330923    8.0292          NaN        2    1.0
23       0            113788   35.5000           A6        0    0.0
24       1            349909   21.0750          NaN        0    1.0
25       5            347077   31.3875          NaN        0    0.0
26       0              2631    7.2250          NaN        1    NaN
27       2             19950  263.0000  C23 C25 C27        0    0.0
28       0            330959    7.8792          NaN        2    NaN
29       0            349216    7.8958          NaN        0    NaN
..     ...               ...       ...          ...      ...    ...
861      0             28134   11.5000          NaN        0    0.0
862      0             17466   25.9292          D17        0    0.0
863      2          CA. 2343   69.5500          NaN        0    NaN
864      0            233866   13.0000          NaN        0    0.0
865      0            236852   13.0000          NaN        0    0.0
866      0     SC/PARIS 2149   13.8583          NaN        1    0.0
867      0          PC 17590   50.4958          A24        0    0.0
868      0            345777    9.5000          NaN        0    NaN
869      1            347742   11.1333          NaN        0    1.0
870      0            349248    7.8958          NaN        0    0.0
871      1             11751   52.5542          D35        0    0.0
872      0               695    5.0000  B51 B53 B55        0    0.0
873      0            345765    9.0000          NaN        0    0.0
874      0         P/PP 3381   24.0000          NaN        1    0.0
875      0              2667    7.2250          NaN        1    1.0
876      0              7534    9.8458          NaN        0    0.0
877      0            349212    7.8958          NaN        0    0.0
878      0            349217    7.8958          NaN        0    NaN
879      1             11767   83.1583          C50        1    0.0
880      1            230433   26.0000          NaN        0    0.0
881      0            349257    7.8958          NaN        0    0.0
882      0              7552   10.5167          NaN        0    0.0
883      0  C.A./SOTON 34068   10.5000          NaN        0    0.0
884      0   SOTON/OQ 392076    7.0500          NaN        0    0.0
885      5            382652   29.1250          NaN        2    0.0
886      0            211536   13.0000          NaN        0    0.0
887      0            112053   30.0000          B42        0    0.0
888      2        W./C. 6607   23.4500          NaN        0    NaN
889      0            111369   30.0000         C148        1    0.0
890      0            370376    7.7500          NaN        2    0.0

[891 rows x 13 columns]

In [12]:
# Create the target and features numpy arrays: target, features_one
target = train["Survived"].values
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values

In [13]:
features_one

array([[3, 0, 22.0, 7.25],
       [1, 1, 38.0, 71.2833],
       [3, 1, 26.0, 7.925],
       ...,
       [3, 1, nan, 23.45],
       [1, 0, 26.0, 30.0],
       [3, 0, 32.0, 7.75]], dtype=object)

In [14]:
# 下記はこのjupyter notebook上だと通らなかったが、DataCamp上だと通った。
# Ageにnanがあるようだったが、DataCampではない？
np.sum(pd.isnull(features_one),axis=0)

array([  0,   0, 177,   0])

In [15]:
features_one

array([[3, 0, 22.0, 7.25],
       [1, 1, 38.0, 71.2833],
       [3, 1, 26.0, 7.925],
       ...,
       [3, 1, nan, 23.45],
       [1, 0, 26.0, 30.0],
       [3, 0, 32.0, 7.75]], dtype=object)

In [16]:
train.Age.median()

28.0

In [17]:
train.loc[pd.isnull(train.Age),"Age"] = train.Age.median()
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values

In [18]:

# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.12315342  0.31274009  0.22530797  0.33879851]
0.977553310887

In [19]:
pd.isnull(train.Sex)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
Name: Sex, Length: 891, dtype: bool

In [20]:
np.sum(pd.isnull(features_one))

0

* pd.isnull()について学んだ、